body {
    font-family:  "Aboreto", sans-serif;
}

header {
    text-align: center;
    background-image: url('../img/arnhem.jpg');
    color: black;
    padding: 20px;
    border: 2px solid #333;
    margin: 5px;
}

#midden {
    display: flex;
    border: 2px solid #333;
    margin: 5px;
}

#links {
    flex: 2;
    background-color: lightgrey;
    border: 2px solid #333;
    margin: 5px;
}

#rechts {
    flex: 9;
    background-color: #f0f0f0;
    display: flex;
    border: 2px solid #333;
    margin: 5px;
}

.article {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 2px solid #333;
    margin: 5px;
    text-align: right;
}

.article img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    border: 2px solid #333;
    margin-left: 20px;
}

@media screen and (min-width: 768px) {
body {
    background-color: darkgray;
}    
}